{% extends "base.html" %}

{% block main_container %}
<!-- Main Container -->
<div class="container">
	<div class="columns is-mobile">
		  <div class="column is-half is-offset-one-quarter">
		  	<h1 class="title">login</h1>

	  		<article class="message is-info">
			  <div class="message-header">
			    <p>Please login to your account</p>
			  </div>

			  <div class="message-body">

			
			    <input class="input is-primary" type="text" placeholder="User Name"/>
			    <br/>
			    <br/>
			    <input class="input is-primary" type="text" placeholder="Password"/>
				 <br/>
				 <br/>
				<div class="columns">
          <div class="column is-one-forth"></div>
            <div class="column">
              <button class="button is-warning is-fullwidth">Login</button>
            </div>
            <div class="column">
            <button class="button is-primary is-fullwidth">Cancel</button>
            </div>
            <div class="column is-one-forth"></div>
          </div>


			  </div>
			</article>
		  	
		  </div>
	</div>
</div>
{% endblock %}